.footer__button {
	@extend %button;
	display: inline-flex;
	text-align: center;
	align-items: center;
	transition: $primaryTransitionColBg;
	cursor: pointer;

	color: $basicWhiteColor;

	transition-property: background-color, top, box-shadow;
  	transition-duration: 250ms;

    &:hover,
    &:focus {
	background-color: $basicWhiteColor;
	color: $accentColor;
}
}

.footer__submit {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	fill: currentColor;
}
