.mobile-menu-block {
	@media screen and (max-width: 767px) {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		padding: 60px 0;
		background-color: $basicWhiteColor;
		width: 100%;

		// Shadow from Figma
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

		&.is-open {
			display: block;
			// border-top: 1px solid #ececec;
		}
	}

	@media screen and (min-width: 768px) {
		margin-left: auto;
	}
}

