
/* =========================FORM========================= */
/* =================Form-Title-Info================= */
.modal__title {
	text-align: center;
	margin: 0;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
}

/* ====================Backdrop==================== */
.modal__backdrop {
	position: fixed;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: $backdropColor;

	opacity: 1;
	transition: opacity $primaryTransition;
}

.modal__backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal__box {
	position: absolute;
	width: 528px;
	height: 581px;	
	top: 50%;
	left: 50%;

	width: 528px;
	height: 581px;

	padding: 40px;
	background-color: $basicWhiteColor;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: translate(-50%, -50%) scale(1);
	transition: transform $primaryTransition;
}

.modal__backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.9);
}

/* =================CLOSE-BTN================= */
.modal__close--button {
	position: absolute;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;

	background-color: $basicWhiteColor;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50px;

	cursor: pointer;

	outline: 0;

	transition: background-color $primaryTransition;

	&:hover,
	&:focus,
	&:active {
	background-color: $secondaryBackgrounColor;
}

	&:hover, 
	&:focus {
	fill: $accentColor;
}
}

.modal__close--icon {
	width: 20px;
	height: 28px;
	margin-left: 0px;
}

/*========================= Modal-form-input =========================*/
.modal__form {
	display: flex;
	flex-direction: column;
}

.modal__input {
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 11px 11px 11px 40px;
	font: inherit;
	box-shadow: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: fill $primaryTransition, border-color $primaryTransition;
}

.modal__input:focus-within,
.comment-field:focus {
	border-color: $accentColor;
	outline: none;
}

.modal__input:focus + .modal__icon {
	fill: $accentColor;
}

.modal__item {
	position: relative; 
}

.comment-field::placeholder {
	color:rgba(107, 116, 120, 0.5);
	opacity: 0.5 !important;
}

.modal__icon {
	position: absolute;
	display: block;
	top: 50%;
	left: 12px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 18px;
	width: 18px;
	fill: inherit;
	-webkit-transition: fill $primaryTransition;
	transition: fill $primaryTransition;
	fill: $basicBlackColor;
}

.modal__field {
	display: block;
	margin-bottom: 4px;
	/* —è */
	transition: border-color $primaryTransition;
}

.modal__info {
	position: relative;
	display: block;
	margin-bottom: 4px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.667;

	/* identical to box height */
	letter-spacing: 0.01em;
	color: $primaryIconsColor;
}

.modal__area {
	display: block;
	resize: none; 
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border-color $primaryTransition;
}


/* =======================CHECKBOX======================= */
.modal__checkbox {
	display: flex;
	justify-content: center;
	
}

.modal-checkbox-user-contract {
	text-decoration-color: currentcolor;
	color: rgb(51, 162, 244);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;
	text-decoration-line: underline;
}

.comment-item {
	margin-bottom: 20px;
}

.comment-field::placeholder {
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}

.agreement-block {
	display: flex;
	justify-content: center;
}

.modal__agreement {
	position: relative;

	display: inline-block;
	margin-bottom: 30px;
	padding-left: 25px;

	font-size: 14px;
	line-height: 1.71;

	letter-spacing: 0.03em;

	color: $primaryTextColor;
}

.modal__agreement--link {
	display: inline-block;
	position: relative;
	color: $accentColor;
}

.modal__agreement--link::after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 5px;

	width: 100%;
	height: 1px;
	background-color: $accentColor;
}

.checkbox {
	position: absolute;

	/* -webkit-appearance: none;
	-moz-appearace: none;
	appearace: none */

	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

/* Custom checkbox as background image (Makeev's video) */

/* .icon-checkbox {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 16px;
	height: 15px;
	background-image: url(../images/icons/empty-checkbox.svg);
	transition: background-image $primaryTransition;
}
.checkbox:checked + .icon-checkbox {
	background-image: url(../images/icons/checked-checkbox.svg);
} */

/* Custom checkbox via CSS and svg check icon (Sasha's video and homework description) */

.modal__icon--checkbox {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 16px;
	height: 15px;

	border: 2px solid $basicBlackColor;
	border-radius: 2px;
	background-color: $basicWhiteColor;

	transition: background-color $primaryTransition, border $primaryTransition;
}

.checkbox:checked + .modal__icon--checkbox {
	background-image: url(../img/nav-adress/check_on.svg);
	background-size: contain;
	background-color: $accentColor;
	background-origin: border-box;
	border: transparent;
}

.checkbox:focus + .modal__icon--checkbox {
	outline: 1px solid $accentColor;
	outline-offset: 5px;
}

/* ==============MODAL-BTN============== */
.modal__form--btn {
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	padding-right: 32px;
	padding-bottom: 10px;
	padding-left: 32px;
	
	background: $accentColor;
	transition: $primaryTransitionColBg;
	min-width: 200px;
	min-height: 50px;
}

.modal__form--btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	text-align: center;
	letter-spacing: 0.06em;
	color: $basicWhiteColor;
}

.modal__form--btn:hover,
.modal__form--btn:focus {
	background-color: $basicWhiteColor;
	color: $accentColor;
	
}
