

.footer-flexbox {
		
	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: baseline;
	}
}

.footer {
	padding: 60px 0;
	background-color: var(--footer-bg-color);

	&__flexbox.box {
		
	@media screen and (min-width: 768px) {
		display: flex;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		justify-content: space-around;
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 30px) / 2);
		justify-content: space-between;
		align-items: baseline;
	}
}



	&__block,&__join {
	@media screen and (max-width: 1199px) {
		text-align: center;
		margin-bottom: 60px;
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 30px) / 2);
	}
	}

	&__logo {
		@media screen and (min-width: 375px) {
			margin-right: 0;
		}
		@media screen and (min-width: 768px) {
			margin-right: 0;
		}
		
	display: block;
	font-family: Raleway;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	text-decoration: none;
	margin-right: 75px;
	margin-bottom: 20px;
	/* identical to box height */
	transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	color: var(--primary-white-color);
}

    &__accent {
	color: var(--accent-color);
}

	&__adress p {
	font-style: normal;
	margin-top: 0;
	margin-bottom: 9px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;

	/* or 171% */
	color: var(--primary-white-color);
}

	&__target {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	/* or 171% */
	color: rgba(255, 255, 255, 0.6);
}

	&__contacts:not(:last-child) {
	margin-bottom: 8px;
}

	&__action {
		@media screen and (max-width: 1199px) {
			display: block;
		}
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;

	margin-top: 0;
	margin-bottom: 20px;

	text-transform: uppercase;
	color: var(--primary-white-color);
}

	&__item:not(:last-child) {
	margin-right: 10px;
}

	&__social {
	@media screen and (max-width: 767px) {
		justify-content: center;
	}
	display: flex;
}

	&__link {
	justify-content: center;
	align-items: center;
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;

	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

	background: rgba(255, 255, 255, 0.1);
	color: var(--primary-white-color);
}

	&__link:hover,
	&__link:focus {
	background: var(--accent-color);
}
	
	&__icon {
	fill: currentColor;
}

	&__form {
		@media screen and (min-width:1200px){
			width: calc((100% - 30px) / 2);
			margin-left: auto;
		}
		
		@media screen and (max-width: 1199px){
			text-align: center;
		}
}

	&__js--form {
	@media screen and (max-width: 1199px) {
	display: block;
	}
	display: flex;
}
}
