.header {
	border-bottom: 1px solid #ececec;
		position: relative;
	@media screen and (min-width: 769px) {
		.flexbox {
			display: flex;
			align-items: center;
		}
	}
	&__nav {
		 display: flex;
  		 align-items: center;
 		 justify-content: space-between;
 	 	 flex-grow: 1;
  			@media screen and (max-width: 768px) {
   			 display: none;
  	}
}
}
/* =====================Nav-Header===================== */


.site-nav {
	margin-left: 93px;
	
	&__list {
		@media screen and (max-width: 768px) {
		text-align: center;
		
	}
	@media screen and (min-width: 768px) {
		display: flex;
	}
	}
 
    &__link {
		@media screen and (max-width: 768px) {
			font-style: normal;
			font-weight: 500;
			font-size: 40px;
			line-height: 47px;
			text-align: center;
			letter-spacing: 0.02em;
		}
	
	margin-bottom: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;

	color: var(--primary-title-color);
	transition: var(--transorm-color);
	animation-duration: 1000ms;
	animation-iteration-count: 1;
}

	&__item {
		display: block;
		@media screen and (max-width: 767px) {
		text-align: center;
		@include fontBasicStyles(18px, 1.16, 500, 0.02em);
	}

	@media screen and (min-width: 768px) {
		padding: 32px 0;
		@include fontBasicStyles(14px, 1.14, 500, 0.02em);
	}

	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	}

    &__item:not(:last-child) {
		margin-right: 50px;
}

	&__item:not(:last-child) {
		@media screen and (max-width: 767px) {
		margin-bottom: 40px;
	}
}

    &__link:hover,
    &__link:focus {
	color: var(--accent-color);
	cursor: pointer;
}
}