/* ====================Portfolio-projects==================== */

.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
	
	&__list {
		@media screen and (min-width: $tablet) {
			margin-bottom: 30px;
			
		}
		@media screen and (min-width: $tablet) {
			display: flex;
			flex-wrap: wrap;
			margin: -15px;
		}
		@media screen and (min-width: $desktop) {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 25px;
	}
}

	&__box {
	padding: 20px 24px;

	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}

	

/* ====================Portfolio-project-information==================== */

	&__title {
	margin-top: 0;
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;

	/* identical to box height, or 200% */

	color: $primaryTitleColor;
}


	&__description {
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.875;

	/* identical to box height, or 187% */

	color: $primaryTextColor;

}

/*======================Portfolio - Overlay======================*/

	&__tumb {
	position: relative;

	overflow: hidden;
	width: 100%;	
}

	&__text {
	margin: 0;
}

	&__overlay {
	position: absolute;
	top: 1px;
	left: 0;

	width: 100%;
	height: 100%;

	display: flex;

	padding: 24px;
	transition: transform $primaryTransition;
	transform: translateY(100%);

	font-weight: 400;
	font-size: 18px;
	line-height: 1.567;

	color: var(--primary-white-color);
	background-color: rgba(33, 150, 243, 0.9);
}

	&__item &__link:hover &__overlay,
	&__item &__link:focus &__overlay {
	transform: translateY(0);
}
}