.duties .title-attachment {

	margin-top: 0;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.167;
	text-align: center;

	color: var(--primary-title-color);

}

.title-attachment {
	margin-top: 0;
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.167;
	text-align: center;
	

	color: var(--primary-title-color);

}