// Variables for the palette
$basicWhiteColor: #ffffff;
$basicBlackColor: #000000;

$secondaryBackgrounColor: #f5f4fa;
$footerBackgroundColor: #2f303a;
$backdropColor: rgba(0, 0, 0, 0.2);

$primaryTitleColor: #212121;
$primaryTextColor: #757575;

$accentColor: #2196f3;
$primaryIconsColor: #afb1b8;

// Variables for fonts
$logoFont: "Raleway", sans-serif;
$primaryFont: "Roboto", sans-serif;

// Variable for animation
$primaryTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$primaryTransitionColBg: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

:root {
	--card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	
	--bg-color-overlay: #C4C4C4;
	--primary-title-color: #212121;
	--primary-text-color: rgba(117, 117, 117, 1);
	--primary-white-color: #ffffff;
	--primary-black-color: #000000;
	--secondary-bg-color: #f5f4fa;
	--footer-bg-color: #2f303a;
	--accent-color: #2196f3;
	--primary-icons-color: #afb1b8;
	--bg-overlay: rgba(47, 48, 58, 0.4);
	--portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	--transorm-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--transition-button-color:  color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	/* 
	   RB4vGKR9mpfhzQS#
	   32S8547r 
	*/
}